In [1]:
import json
import pandas as pd
import numpy as np

import re

from sqlalchemy import create_engine
import psycopg2

# from config import db_password
from config import db_password

import time

In [2]:
# 17. Create the path to your file directory and variables for the three files.
file_dir = 'C:/Users/levfl/Documents/UNCC Data Analytics Bootcamp/Classes/8-ETL'

ratings_file = f'{file_dir}/ratings.csv'

ratings = pd.read_csv(ratings_file)

In [8]:
 # 9. Transform and merge the ratings DataFrame.
pd.to_datetime(ratings['timestamp'], unit='s')
ratings['timestamp'] = pd.to_datetime(ratings['timestamp'], unit='s')
rating_counts = ratings.groupby(['movieId','rating'], as_index=False).count() \
            .rename({'userId':'count'}, axis=1) \
            .pivot(index='movieId',columns='rating', values='count')
rating_counts.columns = ['rating_' + str(col) for col in rating_counts.columns]


rating_counts[rating_counts.columns] = rating_counts[rating_counts.columns].fillna(0)

#rating_counts.isnull().sum()

rating_counts

,rating_0.5,rating_1.0,rating_1.5,rating_2.0,rating_2.5,rating_3.0,rating_3.5,rating_4.0,rating_4.5,rating_5.0
movieId,,,,,,,,,,
1,441.0,804.0,438.0,2083.0,1584.0,11577.0,5741.0,22020.0,5325.0,15995.0
2,263.0,797.0,525.0,2479.0,1810.0,8510.0,2916.0,6035.0,690.0,2035.0
3,169.0,772.0,233.0,1665.0,616.0,6213.0,759.0,3433.0,154.0,1483.0
4,47.0,351.0,31.0,496.0,77.0,1133.0,66.0,557.0,12.0,211.0
5,237.0,785.0,270.0,1716.0,664.0,6608.0,723.0,2959.0,166.0,1130.0
...,...,...,...,...,...,...,...,...,...,...
176267,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
176269,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
176271,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
176273,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
176275,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

In [4]:
ratings.dtypes

userId                int64
movieId               int64
rating              float64
timestamp    datetime64[ns]
dtype: object